.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #d23434;
    transition: width .3s ease-in-out;
    transform-origin: left;
}

.nav-link:hover::before {
    width: 100%;
    background: #d23434;
}