.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #076aa5;
    transition: width .3s ease-in-out;
    transform-origin: left;
}


.nav-link:hover::before {
    width: 100%;
    background: #076aa5;
}

/* .nav-link-dark::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #9e7d42;
    transition: width .3s ease-in-out;
    transform-origin: left;
}
.nav-link-dark:hover::before {
    width: 100%;
    background: #9e7d42;
} */

