.text-animation {
    animation: slide-in 1s ease-in-out both;
}

.slide-right{
    animation: slide-tr 1s ease-in-out both;
}

@keyframes slide-in {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-tr {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.border-custom {
    border-color: #0e87cd;
  }