@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Josefin+Sans:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

/* body{
  font-family: sans-serif,Outfit;
} */
/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
/* box-shadow: inset 3px 3px 3px #eb6753; */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb6753;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e35944;
}
